.spots {
    width: 500px;
    display:grid;
    justify-items: stretch;
    align-items: stretch;
    grid-template-columns: repeat(10, 50px);
    grid-template-rows: repeat(10, 70px);
    grid-gap: 10px 20px;
}

.spotdiv {
    display: flex;
    cursor: pointer;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    // width: 40px;
    // height: 60px;
    color: white;
    background: dimgray;
    border: solid 2px darkgrey;
    // margin: 5px;
}

.spotdiv--free{
    background: limegreen;
}

// .spotdiv__free {
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
//     height: 50px;
//     width: 50px;
//     color: white;
//     background: lightgreen;
//     margin: 5px;
// }