.spots {
    display:grid;
    grid-template-columns: repeat(10, 1fr);
}

.spotdiv {
    display: flex;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    color: white;
    background: dimgray;
    border: solid 2px darkgrey;
    margin: 5px;
}

.spotdiv--free{
    background: limegreen;
}

// .spotdiv__free {
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
//     height: 50px;
//     width: 50px;
//     color: white;
//     background: lightgreen;
//     margin: 5px;
// }